**DATA ANALYTICS WITH PYTHON**

**TASK-1**


**Description:**
This task involves understanding the basic data
types in Python such as lists, dictionaries, and
sets.

**Responsibility:**
Write a Python program to create a list, a
dictionary, and a set. Perform basic operations
like adding, removing, and modifying
elements.

In [3]:
#basic task like adding removing and modifying list

# Create a list
my_list = [1, 2, 3, 4, 5]

# Add an element to the end of the list
my_list.append(6)

# Remove the last element from the list
my_list.pop()

# Modify the first element of the list
my_list[0] = 0

# Print the modified list
print(my_list)

[0, 2, 3, 4, 5]

In [2]:
# basic task like adding removing and modifying dictionary

# Create a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Add a new key-value pair to the dictionary
my_dict["profession"] = "Software Engineer"

# Remove a key-value pair from the dictionary
del my_dict["age"]

# Modify the value of an existing key
my_dict["city"] = "London"

# Print the modified dictionary
print(my_dict)

{'name': 'John', 'city': 'London', 'profession': 'Software Engineer'}

In [1]:
#  basic task like adding removing and modifying set

# basic task like adding removing and modifying set

# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Remove an element from the set
my_set.remove(3)

# Modify an element in the set (not possible directly)
# To modify an element, we need to remove it and add a new one
my_set.remove(1)
my_set.add(0)

# Print the modified set
print(my_set)

{0, 2, 4, 5, 6}